body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 60%;
    margin: 30px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;   
}
.small-screen{
    width:80%;
}
.GitUrl:hover{
    text-decoration: underline;
}

header {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
    position: relative; 
    justify-content: center
}
.big-screen{
    display:flex;
}

h1 {
    margin: 0;
    color: #222;
}

p {
    margin: 5px 0;
}

section {
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

h2 {
    color: #444;
    border-left: 4px solid #0073e6;
    padding-left: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: white;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}

a {
    color: black;
    text-decoration: none;
}
.footerWithButton{
    display: flex;
}

a:hover {
    text-decoration: underline;
}
    button.downloadCV {
        width: 100px;
        height: 100px;
      }
      span.print-icon, span.print-icon::before, span.print-icon::after, button.downloadCV:hover .print-icon::after {
        border: solid 4px #333;
      }
      span.print-icon::after {
        border-width: 2px;
      }
      
      button.downloadCV {
        position: relative;
        padding: 0;
        border: 0;
        
        border: none;
        background: transparent;
      }
      
      span.print-icon, span.print-icon::before, span.print-icon::after, button.downloadCV:hover .print-icon::after {
        box-sizing: border-box;
        background-color: #fff;
      }
      
      span.print-icon {
        position: relative;
        display: inline-block;  
        padding: 0;
        margin-top: 20%;
      
        width: 60%;
        height: 35%;
        background: #fff;
        border-radius: 20% 20% 0 0;
      }
      
      span.print-icon::before {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 12%;
        right: 12%;
        height: 110%;
      
        transition: height .2s .15s;
      }
      
      span.print-icon::after {
        content: "";
        position: absolute;
        top: 55%;
        left: 12%;
        right: 12%;
        height: 0%;
        background: #fff;
        background-repeat: no-repeat;
        background-size: 70% 90%;
        background-position: center;
        background-image: linear-gradient(
          to top,
          #fff 0, #fff 14%,
          #333 14%, #333 28%,
          #fff 28%, #fff 42%,
          #333 42%, #333 56%,
          #fff 56%, #fff 70%,
          #333 70%, #333 84%,
          #fff 84%, #fff 100%
        );
      
        transition: height .2s, border-width 0s .2s, width 0s .2s;
      }
      
      button.downloadCV:hover {
        cursor: pointer;
      }
      
      button.downloadCV:hover .print-icon::before {
        height:0px;
        transition: height .2s;
      }
      button.downloadCV:hover .print-icon::after {
        height:120%;
        transition: height .2s .15s, border-width 0s .16s;
      }